.eco-seat{
    background-color: #B9DEA0;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
}
.eco-seat:hover {
    background-color: #76B474;
}
.seat-space{
    background-color: white;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
}
.first-seat{
    background-color: #3a78c3;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
}
.first-seat:hover {
    background-color: #76B474;
}

.front {
    width: 160px;
    margin: 20px;
    /*margin: 10px 32px 20px 50px;*/
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.occupied{
    background-color: orangered;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
}